Workflows/1C.json
{
  "name": "1C",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research {{ $json.company }} in the {{ $json.industry }} industry.",
        "options": {
          "systemMessage": "=# ROLE & OBJECTIVE\nYou are a Senior B2B Sales Intelligence Agent. Your sole purpose is to research companies and return STRICTLY FORMATTED JSON data for downstream automation systems.\n\n# CORE PRINCIPLE: TRUTH OVER COMPLETENESS\n1. If you cannot find factual information for a field, state \"No verified data found\" - DO NOT fabricate\n2. Never invent funding amounts, dates, hiring numbers, or product names without high-confidence sources\n3. Distinguish clearly between: \n   - VERIFIED: Information from credible recent sources (last 90 days)\n   - ESTIMATED: Reasonable inference based on industry patterns (mark with \"likely\" or \"estimated\")\n   - UNKNOWN: No data available (use exact phrase \"No verified data found\")\n\n# OUTPUT REQUIREMENTS (CRITICAL)\n1. Output MUST be valid JSON only - no markdown, no explanations, no prefixes\n2. Do NOT wrap output in ```json code blocks\n3. Do NOT include any reasoning, thinking, or commentary\n4. All 4 fields are REQUIRED - never omit any field\n5. Use exact null phrases: \"No verified data found\" for missing information\n\n# JSON SCHEMA (MUST MATCH EXACTLY)\n{\n  \"company_name\": \"string (exact company name provided)\",\n  \"recent_news\": \"string (one sentence, max 150 chars, OR 'No verified data found')\",\n  \"hiring_signals\": \"string (specific roles OR 'No verified data found')\",\n  \"pain_point_hypothesis\": \"string (industry-based hypothesis marked 'likely' OR 'No verified data found')\"\n}\n\n# RESEARCH GUIDELINES\n1. Use your web search tool to find information from the last 90 days only\n2. Source priority: Official company blog > TechCrunch/Reuters > LinkedIn > Other\n3. For recent_news: \n   - If found: \"Raised $X [round] led by [investor] in [month]\" OR \"Launched [product] for [use case]\"\n   - If not found: \"No verified data found\"\n4. For hiring_signals:\n   - If found: \"Hiring for [specific roles] in [departments]\" \n   - If not found: \"No verified data found\"\n5. For pain_point_hypothesis:\n   - ONLY provide if based on clear industry patterns (e.g., \"SaaS startups likely face churn challenges\")\n   - Prefix with \"likely\" or \"estimated\"\n   - If no clear pattern: \"No verified data found\"\n\n# CONFIDENCE MARKERS (Use in field values when applicable)\n- \"likely\" = 70-90% confidence based on industry patterns\n- \"estimated\" = 50-70% confidence based on limited signals\n- \"No verified data found\" = <50% confidence or no sources\n\n# ERROR HANDLING\n- If search returns no results, return \"No verified data found\" for affected fields\n- Never hallucinate specific numbers, names, or dates\n- If company name is uncommon, verify spelling before searching\n\n# EXAMPLE OUTPUTS\n\n## Example 1: Data Found\n{\n  \"company_name\": \"TechStart Inc\",\n  \"recent_news\": \"Raised $5.2M Series A led by Sequoia in February 2026\",\n  \"hiring_signals\": \"Hiring Senior Engineers and Head of Sales per LinkedIn\",\n  \"pain_point_hypothesis\": \"Likely facing customer support scaling challenges during rapid growth\"\n}\n\n## Example 2: Partial Data (HONESTY MODE)\n{\n  \"company_name\": \"QuietStartup Co\",\n  \"recent_news\": \"No verified data found\",\n  \"hiring_signals\": \"No verified data found\", \n  \"pain_point_hypothesis\": \"Likely facing early-stage product-market fit validation (estimated)\"\n}\n\n## Example 3: No Data Found\n{\n  \"company_name\": \"Unknown LLC\",\n  \"recent_news\": \"No verified data found\",\n  \"hiring_signals\": \"No verified data found\",\n  \"pain_point_hypothesis\": \"No verified data found\"\n}\n\n# FINAL INSTRUCTION\nBegin research now. Return ONLY the JSON object. No other text. Prioritize truthfulness over filling fields.",
          "batching": {
            "batchSize": 1,
            "delayBetweenBatches": 2000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -160
      ],
      "id": "1ff39247-19f7-4b8e-8443-b93499139a2d",
      "name": "AI Research Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        48
      ],
      "id": "30843b7d-0d98-421f-8ea7-cbd42f5b238c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5YU350qzwd2lpgyV",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        0
      ],
      "id": "60163c29-06fe-454f-8257-737b870e34f4",
      "name": "Schedule Trigger",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "New"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "b548144d-8ba4-4c10-ab73-754370c4997d",
      "name": "Fetch New Leads",
      "credentials": {
        "supabaseApi": {
          "id": "CRIj2KgzMPdZm0MP",
          "name": "Customer Database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        128
      ],
      "id": "19b4c072-5314-4404-997e-08bb546ac335",
      "name": "Process Leads One-by-One"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1c7067b-c5cd-4cc7-8c69-b4211d21b8f4",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1626f125-ed72-4466-8754-a61f05a0b463",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0373d9e4-2494-46c2-8e97-a2a26a302c14",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d7706a1e-a573-4eee-9e4b-cb44bc3c9a00",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -144
      ],
      "id": "7b028cb1-6986-4287-b69e-7a959ebca0df",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "campaign_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "Outreach"
            },
            {
              "fieldId": "status",
              "fieldValue": "failed_validation"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "\"Missing email or company\""
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ { \"lead_data\": $json } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        16
      ],
      "id": "67356a43-6cae-416e-a62a-05dafff5744e",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "CRIj2KgzMPdZm0MP",
          "name": "Customer Database"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE & OBJECTIVE\nYou are an expert SDR (Sales Development Representative) specializing in high-converting cold emails.\nYour goal is to write personalized, concise emails that generate replies.\n\n# INPUT DATA\nYou will receive research data about the lead's company. Use it to personalize the email.\nResearch fields:\n- company_name: The target company\n- recent_news: Recent funding, product launches, or news (may be \"No verified data found\")\n- hiring_signals: Active hiring roles (may be \"No verified data found\")\n- pain_point_hypothesis: Likely operational challenges (may be \"No verified data found\")\n\n# EMAIL STRUCTURE\n1. Subject Line: Max 50 characters, curiosity-driven, no spam words\n2. Opening: Reference specific research (if available) OR universal pain point\n3. Body: 2-3 short paragraphs, max 150 words total\n4. CTA: Single, clear call-to-action (15-min chat request)\n5. Sign-off: Professional but warm\n\n# PERSONALIZATION RULES\nIF recent_news != \"No verified data found\":\n  → Use it as the opening hook (e.g., \"Congrats on the Series A...\")\nELSE IF hiring_signals != \"No verified data found\":\n  → Reference hiring growth (e.g., \"Saw you're scaling the engineering team...\")\nELSE:\n  → Use universal industry pain point (e.g., \"Most [industry] companies struggle with...\")\n\n# TONE GUIDELINES\n- Conversational, not salesy\n- No exclamation marks!!!\n- No phrases like \"I hope this email finds you well\"\n- No buzzwords: \"leverage\", \"synergy\", \"game-changer\"\n- Write like a human, not a corporation\n\n# OUTPUT FORMAT\nReturn ONLY this JSON structure (no markdown, no extra text):\n{\n  \"subject\": \"string (max 50 chars)\",\n  \"body\": \"string (max 150 words)\",\n  \"cta\": \"string (the specific ask)\",\n  \"personalization_used\": \"string (which research field was used)\"\n}\n\n# EXAMPLE OUTPUT\n\n## Example 1: News Available\n{\n  \"subject\": \"Congrats on the Series A\",\n  \"body\": \"Hi,\\n\\nSaw the news about your $5M raise—congrats! Scaling after funding usually means support tickets spike while you're hiring.\\n\\nWe help Series A teams automate 40% of support volume without adding headcount.\\n\\nOpen to a 15-min chat next Tuesday?\\n\\nBest,\\n Kevyn\",\n  \"cta\": \"15-min chat next Tuesday\",\n  \"personalization_used\": \"recent_news\"\n}\n\n## Example 2: No News, Hiring Data Available\n{\n  \"subject\": \"Scaling engineering\",\n  \"body\": \"Hi,\\n\\nNoticed you're hiring Senior Engineers—sounds like an exciting growth phase.\\n\\nMost CTOs we work with say onboarding slows down velocity during hiring surges. We've helped teams cut onboarding time by 60%.\\n\\nWorth a 15-min conversation?\\n\\nBest,\\n Kevyn\",\n  \"cta\": \"15-min conversation\",\n  \"personalization_used\": \"hiring_signals\"\n}\n\n## Example 3: No Data Found\n{\n  \"subject\": \"Quick question\",\n  \"body\": \"Hi,\\n\\nMost [industry] companies we work with struggle with support scaling during growth phases.\\n\\nWe've helped teams like yours automate 40% of tickets without adding headcount.\\n\\nOpen to a quick 15-min chat to see if this resonates?\\n\\nBest,\\n Kevyn\",\n  \"cta\": \"15-min chat\",\n  \"personalization_used\": \"industry_pain_point\"\n}\n\n# FINAL INSTRUCTION\nWrite the email now. Return ONLY the JSON object. No other text.",
          "batching": {
            "batchSize": 1,
            "delayBetweenBatches": 1000
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        -160
      ],
      "id": "2f972e10-ee76-4777-bdd2-db1f38eac0a8",
      "name": "Email Drafter Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        32
      ],
      "id": "17edf5bd-761e-47d8-90e4-f6c6cfd8370b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "5YU350qzwd2lpgyV",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Fetch New Leads').item.json.email }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1648,
        -160
      ],
      "id": "a6a5f769-7f67-44f3-a4c4-c59f7ae903ee",
      "name": "Send a message",
      "webhookId": "caab0e98-2cc8-496a-bdc8-71b325896189",
      "credentials": {
        "gmailOAuth2": {
          "id": "xMxmG9Am5t56g9pU",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"subject\": \"Congrats on the Series A, John\",\n  \"body\": \"Hi John,\\n\\nSaw the news about your $5M raise—congrats! Scaling after funding usually means support tickets spike while you're hiring.\\n\\nWe help Series A teams automate 40% of support volume without adding headcount.\\n\\nOpen to a 15-min chat next Tuesday?\\n\\nBest,\\n[Sender]\",\n  \"cta\": \"15-min chat next Tuesday\",\n  \"personalization_used\": \"recent_news\",\n  \"confidence_score\": 0.92\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1440,
        48
      ],
      "id": "b1cedd96-805b-4343-9d42-cdc4584f7e7e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "tableId": "interactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Fetch New Leads').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "email_sent"
            },
            {
              "fieldId": "content_summary",
              "fieldValue": "={{ $('Email Drafter Agent').item.json.output.body }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ { \"workflow\": \"2A\", \"subject\": $('Email Drafter Agent').item.json.output.subject, \"personalization\": $('Email Drafter Agent').item.json.output.personalization_used, \"recipient\":  $('Fetch New Leads').item.json.email, \"company\": $('Process Leads One-by-One').item.json.company} }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2416,
        -160
      ],
      "id": "2401d4a6-5ec8-427b-a8fa-03aac5134b71",
      "name": "Log Interaction",
      "credentials": {
        "supabaseApi": {
          "id": "CRIj2KgzMPdZm0MP",
          "name": "Customer Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch New Leads').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Contacted"
            },
            {
              "fieldId": "last_contacted_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        -160
      ],
      "id": "71dc3d53-8af4-4d7e-a5cd-b30396a1af77",
      "name": "Update Lead Status",
      "credentials": {
        "supabaseApi": {
          "id": "CRIj2KgzMPdZm0MP",
          "name": "Customer Database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "campaign_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_name",
              "fieldValue": "2A-Outreach"
            },
            {
              "fieldId": "status",
              "fieldValue": "success"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ { \"lead_id\": $('Fetch New Leads').item.json.id, \"lead_email\": $('Fetch New Leads').item.json.email, \"lead_company\": $('Fetch New Leads').item.json.company, \"email_subject\": $('Email Drafter Agent').item.json.output.subject, \"personalization_used\": $('Email Drafter Agent').item.json.output.personalization_used, \"execution_id\": $execution.id } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2784,
        -160
      ],
      "id": "ff4573e8-e59c-474d-a533-3f32e3bd2ae2",
      "name": "Log Campaign",
      "credentials": {
        "supabaseApi": {
          "id": "CRIj2KgzMPdZm0MP",
          "name": "Customer Database"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2976,
        48
      ],
      "id": "d1d51451-5586-4b3e-ba84-b425cb137cfc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5YU350qzwd2lpgyV",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Email Drafter Agent').item.json.output.body }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "lead_id",
                "value": "={{ $json.metadata.lead_id }}"
              },
              {
                "name": "lead_email",
                "value": "={{ $('Fetch New Leads').item.json.email }}"
              },
              {
                "name": "type",
                "value": "outbound_email"
              },
              {
                "name": "workflow",
                "value": "2A"
              },
              {
                "name": "subject",
                "value": "={{ $('Email Drafter Agent').item.json.output.subject }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3280,
        112
      ],
      "id": "ad9cf2b4-642f-4104-8f6d-44bfc1f25686",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "revenue-ops-memory",
          "mode": "list",
          "cachedResultName": "revenue-ops-memory"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2992,
        -160
      ],
      "id": "ff2cf49d-bb76-4439-b996-369ec8966bdb",
      "name": "Embed Email Body",
      "credentials": {
        "pineconeApi": {
          "id": "Yk71GOoA4oXmeFBr",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7807969267021066056"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        -160
      ],
      "id": "556408f4-fc8e-41f5-8885-6aefcba0c70f",
      "name": "Add label to message",
      "webhookId": "5982627a-2df1-442f-ab46-c2164c33af22",
      "credentials": {
        "gmailOAuth2": {
          "id": "xMxmG9Am5t56g9pU",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $('Send a message').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2176,
        -160
      ],
      "id": "d0b4e771-cc35-40b6-80f4-c19dec70a8bc",
      "name": "Mark a message as unread",
      "webhookId": "5969a6f2-7245-4023-8108-a3e102ef430b",
      "credentials": {
        "gmailOAuth2": {
          "id": "xMxmG9Am5t56g9pU",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Leads One-by-One": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Leads": {
      "main": [
        [
          {
            "node": "Process Leads One-by-One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Research Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Research Agent": {
      "main": [
        [
          {
            "node": "Email Drafter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Drafter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Drafter Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Email Drafter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Log Interaction": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Log Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Campaign": {
      "main": [
        [
          {
            "node": "Embed Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Embed Email Body",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Embed Email Body",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Mark a message as unread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as unread": {
      "main": [
        [
          {
            "node": "Log Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Email Body": {
      "main": [
        [
          {
            "node": "Process Leads One-by-One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "71ef9a08-9d8d-4e0d-ba66-ce503334e73c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76266dccf6a9a630081d33eaca42802c18d8edaecd0a7ab37fdceb2d976f87d3"
  },
  "id": "p2FOMxGJ9unsJdit",
  "tags": []
}