Workflows/4C.json
{
  "name": "4C",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IcZny1wh8DBet7c0m68heBCxcAPzX1Aa",
          "mode": "list",
          "cachedResultName": "Sales Knowledge base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IcZny1wh8DBet7c0m68heBCxcAPzX1Aa"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ed874be9-d2dd-46a8-b2b9-db72a954986e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c05s9RGd2y7SHX4r",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "3c4eefa5-b81c-4bad-948d-99f00079f22f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "dbfff001-cebc-436f-8cc6-2ce9c1a4d397",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c05s9RGd2y7SHX4r",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        192
      ],
      "id": "a245dc22-d52c-4ade-8798-0cf7d77e842d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DSMi5v9YwzhVDWcC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sales-knowledge-base",
          "mode": "list",
          "cachedResultName": "sales-knowledge-base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "a385aef9-40d7-4aa6-abb1-3c69028cf38c",
      "name": "Sales FAQ Knowledge Base",
      "credentials": {
        "pineconeApi": {
          "id": "Yk71GOoA4oXmeFBr",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        208
      ],
      "id": "4a3a0336-fd6c-42fc-88ee-f5f9840956d0",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Sales FAQ Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Sales FAQ Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Sales FAQ Knowledge Base",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a4552cf-db90-4b25-abb9-b5a22ea669e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76266dccf6a9a630081d33eaca42802c18d8edaecd0a7ab37fdceb2d976f87d3"
  },
  "id": "3tDEb3r6baqQLRxK",
  "tags": []
}